@inject IDialogService DialogService

<div style="display:flex; width:100vw; height:100vh; align-items:center; justify-content:center">
	<MudStack Style="align-items: center;">
		<MudText Typo="Typo.h4">@calName</MudText>
		<MudPaper Style="justify-content: center; display: flex; padding:1rem;">
			<MudStack Style="justify-content: center; display: flex; padding:1rem;">
				<MudText Typo="Typo.h6">Join with account @name?</MudText>
				<MudButton OnClick="enter">Join</MudButton>
			</MudStack>
		</MudPaper>
		<MudButton Variant="Variant.Text" Style="font-size:12px; width:fit-content" OnClick="openSelectUserDialog">Already joined with another account?</MudButton>
	</MudStack>
</div>
@code {
	[Parameter]
	public EventCallback<string> setUser { get; set; }
	[Parameter]
	public string name { get; set; }
	[Parameter]
	public string calName { get; set; }
	[Parameter]
	public Dictionary<string, string> users { get; set; }

	public async void enter()
	{
		if(name != null && name != ""){
			await setUser.InvokeAsync();
		}
	}
	public async void openSelectUserDialog()
	{
		var parameter = new DialogParameters<SelectUser>
		{
			{ "users", users }
		};
		var dialog = await DialogService.ShowAsync<SelectUser>("SelectUser", parameter);
		var result = await dialog.Result;
		if (!result.Canceled)
			await setUser.InvokeAsync(result.Data.ToString());
	}
}
